nvim/.config/nvim/plugin/
zsh/.config/zsh/zsh-autosuggestions/
zsh/.config/zsh/zsh-syntax-highlighting/
tmux/.config/tmux/tpm/
tmux/.config/tmux/plugins/
# /nvim/**/*.lazy-lock.json
nvim/.config/nvim/lazy-lock
scripts/.local/bin/claude
